<phpunit addUncoveredFilesFromWhitelist="true"
         colors="true"
         backupGlobals="false"
         bootstrap="./Bootstrap.php">
    <testsuites>
        <testsuite name="rsporteman\Snippets">
            <directory>./src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./tmp/report"
             lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
</phpunit>